<!-- Buổi 1 -->
<!-- <app-header></app-header>  -->
<!-- <app-ex1-home></app-ex1-home> -->
<!-- <app-ex2-home></app-ex2-home> -->
<!-- <app-demo-databinding></app-demo-databinding> -->

<!-- Buổi 2 -->
<!-- <app-change-color-car></app-change-color-car> -->
<!-- <app-demo-directive></app-demo-directive> -->
<app-product-management></app-product-management>


















<!-- Buổi 1 -->
    <!-- Set up angular -->
    <!-- Cách tạo component -->
    <!-- Databinding -->
<!-- Buổi 2 -->
    <!-- Làm bài tập Change color car -->
    <!-- Directive -->
    <!-- Làm bài tập QL sản phẩm (Bài tập 7 trong slide) -->
